<footer class="footer fixed-bottom" style="background-color: blue; color: white; padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Email: info@example.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white;">Home</a></li>
                    <li><a href="#" style="color: white;">About Us</a></li>
                    <li><a href="#" style="color: white;">Products</a></li>
                    <li><a href="#" style="color: white;">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook" style="color: white;"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter" style="color: white;"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram" style="color: white;"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <p>&copy; 2023 Your Company. All rights reserved.</p>
        </div>
    </div>
</footer>
