@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

/* cart_styles.css */

/* Adjust font family and text size for h5 elements */
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  /* Adjust font size for small elements */
  .small {
    font-size: 0.8rem;
  }
  
  /* Adjust font size for price and total elements */
  .price {
    font-size: 1.1rem;
  }
  
  .total {
    font-size: 1.2rem;
  }
  
  /* Adjust font size for the Checkout button */
  .btn-checkout {
    font-size: 1.1rem;
  }
  .custom-bg-color {
    background-color: #e8c845;
}  